birdy==0.3.2
certifi==2018.1.18
chardet==3.0.4
dateutil==2.7.3
Django==2.0.2
django-datetime-widget==0.9.3
django-sslserver==0.20
django-widget-tweaks==1.4.1
idna==2.6
oauthlib==2.0.6
Pillow==5.0.0
postgres==2.2.1
psycopg2==2.7.4
pytz==2018.3
requests==2.18.4
requests-oauthlib==0.8.0
twitter==1.18.0
tzlocal==1.5.1
urllib3==1.22
