{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title%}Social Pipeline{% endblock title %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto:300|Oswald:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
</head>

<body>
<div id="wrapper" class="container-fluid">
<nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'dashboard' %}"><img src="{% static 'img/sp_logo_sm.jpg' %}" id="logo_sm" /><span id="header">Social Pipeline</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mainMenu">
            {% if user.is_authenticated %}
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                  </a>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
					<a class="dropdown-item" href="{% url 'dashboard' %}">User Dashboard</a>
                    <a class="dropdown-item" href="{% url 'profile' %}">User Profile</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                  </div>
                </li>
              </ul>
            {% else %}
              <div>
              </div>
            {% endif %}
          </div>
        </div>
</nav>




{% block content %}
{% endblock %}

</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</body>
</html>
