{% extends 'base.html' %}

{% block title %}Change password{% endblock %}


{% block content %}
  <div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'index' %}">Social Pipeline</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Change Your Password</h3>
            <form method="post" novalidate>
              {% csrf_token %}
			  <input type="hidden" name="next" value="{{ next }}">
                 {% include 'includes/form.html' %}    
              <br><br>
			  <button type="submit" class="btn btn-info btn-block">Change Password</button>
            </form>
          </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}
